.header-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 3rem;
    color: #F8F9FA;
    background: #2B6670;
    height: 100vh;
}
.header-item{
    margin: 10px;
    padding: 5px;
    font-size: 1.3rem;
    border: 1px solid #fafafa;
    border-radius: 2px;
}
.header-item > a{
    text-decoration: none;
    color: #F8F9FA;
}